.game {
    width: 300px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    background-image: url("images/bg.png");
    background-size: cover; 
    background-position: center;
}

#ghost {
    width: 30px;
    height: 30px;
    /*background-image: url("images/ghost.png");*/
    background-color: black;
    background-size: 30px 30px;
    position: relative;
    top: 30px;

    
}

.float{
    animation: float 0.3s linear;
}

@keyframes float {
  0%{
    top: 30px;
  }
  
  30%{
    top: 20px;
  }

  50%{
    top: 5px;
  }

  80%{
    top: 20px;
  }

100%{
    top: 30px;
}
}

#alien {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    left: 270px;

    /*background-image:url("images/alien.png"); */
   background-color: black;
   background-size: 30px 30px; 
   animation: move 2s infinite linear;
}

@keyframes move {
  0%{
    left: 270px;
  }

  100%{
    left: -20px;
  }
}

